<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </ReportPortalLog4j2Appender>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <appender-ref ref="ReportPortalAppender"/>
        </Root>
    </Loggers>
</Configuration>